@font-face {
  font-family: 'Didot';
  src: url('Didot.ttf');
  font-weight: normal;
  font-style: normal;
 }
 @font-face {
  font-family: 'DidotBold';
  src: url('DidotBold.ttf');
  font-weight: normal;
  font-style: normal;
 }
 @font-face {
  font-family: 'PingFangRegular';
  src: url('PingFangRegular.ttf');
  font-weight: normal;
  font-style: normal;
 }
 @font-face {
  font-family: 'CenturyGothic';
  src: url('CenturyGothic.ttf');
  font-weight: normal;
  font-style: normal;
 }


